.info-box {
  box-sizing: border-box;
  padding: 20px;
  border-radius: 6px;
  position: relative;

  display: flex;
  flex-direction: column;
}

.info-box.vintage {
	background-color: rgb(0, 0, 0);
	border: 2px solid var(--color-primary);;
}

@media (max-width: 768px) {
  .info-box {
    background-position: center;
  }
}

