.warploader {
  width: 100px;
  height: 100px;
  background-color: black;
  border-radius: 50%;
  border: 5px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.warploader small {
  font-style: oblique;
  text-shadow: 1px 0 10px white;
  animation: single-pulse 1s ease infinite;
}


@keyframes single-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
