@media (prefers-color-scheme: dark) {
  :root {
    --color-primary:    #c3c3c3;
    --color-secondary:  #d6d6d6;

    --color-bg-primary: #1a1a1a;
    --color-bg-secondary: #131313;

    --color-shadow: #dddddd;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: #2e2e2e;
    --color-secondary: #414141;

    --color-bg-primary:   #efefef;
    --color-bg-secondary: #dddddd;

    --color-shadow: #353535;
  }
}

*:not(pre), *::before, *::after {
  box-sizing: border-box;
  font-family: 'Quantico', monospace;
}

body, html {
  padding: 0;
  margin: 0;
}

pre {
  margin: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
}

hr {
  height: 0;
  border: none;
  border-top: 1px solid var(--color-bg-primary);
}

hr.inverted {
  border-top: 1px solid var(--color-bg-secondary);
}

kbd {
  background-color: var(--color-special);
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  padding: 3px 5px;
  margin: 0 5px;
  white-space: nowrap;
}

dd {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: grey;
}

/* handling gfm rendering. */
code {
  color: var(--color-primary);
  background-color: var(--color-bg-primary);
}

pre > code {
  box-sizing: border-box;
  display: block;
  padding: 5px;
  border-radius: 6px;
}

th, td {
  border: 1px solid var(--color-primary);
}
