.toggler {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.toggler label {
  position: relative;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  margin: 5px 5px;
  padding: 10px;
  width: 25px;
  height: 25px;
  box-shadow: var(--neumorphic-shadow-small);
  border-radius: 50%;
  background-color: var(--color-bg-primary);
}

.toggler input[type=radio]:checked + label {
  box-shadow: var(--neumorphic-shadow-small-active);
}

.toggler input[type=radio] {
  display: none;
  pointer-events: none;
}


.toggler svg.progress {
  position: absolute;
  display: block;
  height: 100%;
  left: 0;
  top: 0;

  transform: rotate(-90deg);
  stroke: var(--color-secondary);
  
  stroke-dasharray: 0 314.159;
  transition: .5s stroke-dasharray;
}

.toggler input:checked + label > svg.progress {
  stroke-linecap: round;
  stroke-dasharray: 314.159 314.159;
}

