.info-box {
  padding: 5px;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid var(--g1);
  color: var(--g1);
  border-radius: 5px;
  background-color: #000;
}

.info-box * {
  color: var(--g1);
}


.info-head {
  font-weight: 700;
  margin-bottom: 25px!important;
  word-wrap: break-word;
}

.info-prompt {
  color: #fff!important;
}