.link-container {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	padding: 1rem;
}

.link-container > * {
	margin-left: auto;
	margin-right: auto;
}

.link {
	display: flex;
	align-items: center;
	height: 4rem;
	width: 4rem;
	border-radius: 50%;
	background-color: var(--pre-bg);
}

.link > * {
	margin-left: auto;
	margin-right: auto;
}

.link:hover > i {
	animation: .3s ease-out 0s 1 scale-shake;
}