@media only screen and (max-width: 767px) {
	:root {
		--screen-width: 45vw;
	}
	
	#head-wrapper {
		height: 17vh!important;
	}
	
	.link {
		height: 2.5rem;
		width: 2.5rem;
	}
}

@media only screen and (min-width: 1920px) {
	:root {
		--screen-width: 25vw;
	}
}
