@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
* {
  font-family: 'Ubuntu';
  color: rgb(106, 136, 70);
}
html {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #353535;
}

/* blinking effect for text */
.blinking {
  animation: blinking-text 2s infinite;
}
@keyframes blinking-text{
    0% { color: #fff; }
    25% { color: transparent; }
    50% { color: #fff; }
    75% { color: transparent; }
    100% { color: #fff; }
}

.title {
  color: #fff!important;
  font-weight: 700;
  margin-bottom: 25px!important;
  word-wrap: break-word;
}
