@import 'animations.css';
@import 'infobox-style.css';
@import 'floatButton-style.css';
@import 'modalBox-style.css';

#app {
  padding-top: 2rem;
  min-height: 100%;
}

* {
  font-family: Courier;
  color: rgb(106, 136, 70);
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  background-color: #353535;
}

hr {
  border-top: 1px dashed rgb(106, 136, 70);
  width: 100%;
}
hr.vertical {
  width: 1px;
  height: 100%;
  margin: 0;
  border-left: 1px dashed rgb(106, 136, 70);
}


ul {
  -webkit-padding-start: 1rem!important;
  list-style-type: none;
}

li::before { content: '$  '; color: red!important; }
li:hover:before { color: white!important; }

a:hover { text-decoration-color: none; }

code {
  background-color: #00E640;
  border-radius: 3px;
  color: black!important;
  padding: 5px;
}

code.danger {
  background-color: red;
  color: white!important;
}


/* scrollbar */
::-webkit-scrollbar { width: 5px; }

/* scrollbar container */
::-webkit-scrollbar-track { display: none; }

/* scroller */
::-webkit-scrollbar-thumb {
  background: #00E640;
}

::-webkit-scrollbar-thumb:hover { background: rgb(106, 136, 70); }




/* blinking effect for text */
.blinking {
  animation: blinking-text 2s infinite;
}


/* Loading */
.loader-wrapper {
  display: flex;
}

.loader-wrapper * {
  align-self: center;
}

.loader {
  border: .2rem solid rgb(106, 136, 70);
  border-top: .2rem solid white/* #00E640 */;
  border-radius: 50%;
  background-color: transparent;
  animation: spin 1s linear infinite;
}

.loader + span {
  line-height: 1.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.loader-sm {
  width: 1.5rem;
  height: 1.5rem;
}


.loader-md {
  width: 2.3rem;
  height: 2.3rem;
}

.loader-lg {
  width: 3rem;
  height: 3rem;
}


/* Tooltip */
.tooltip-parent .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    font-size: .8rem;
    border-radius: 4px;
    border: 2px solid #00E640;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip-parent .tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #00E640 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-parent:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


/* Neutron */

.neutron {
  height: 36px;
  width: 36px;
}

.neutron .neutron-atom {
  position: absolute;
  margin: 12px;
  z-index: 9999;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1.5px groove white;
  background-color: #00E640;
}

.neutron .orbit, .neutron .orbit-reversed {
  border: 1.3px inset #00E640;
  border-radius: 50%;
  background-color: transparent;
  animation: spin 1s linear infinite;
  width: 38px;
  height: 38px;
}

.neutron .orbit::before, .neutron .orbit-reversed::before {
  content: ' ';
  margin-left: 15px;
  border-radius: 50%;
  position: absolute;
  width: 5px;
  height: 5px;
  display: inline-block;
  background-color: white;
}

.neutron .orbit::before {
  margin-top: -3.8px;
}

.neutron .orbit-reversed::before {
  margin-top: 35px;
}

