#statusbar {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;

  font-size: .8rem;
  background-color: rgba(0, 0, 0, .2);
  padding: 5px;
}

#statusbar > * {
  font-family: monospace;
}

#statusbar > .info {
  color: yellow;
  display: flex;
  justify-content: flex-end;
  flex: 1;
}

#statusbar > .time {
  color: white;
}