button.floating {
  --floating-button--size: 30px;
  --floating-button--size: 30px;

  position: fixed;
  bottom: var(--floating-button--size);
  right: var(--floating-button--size);

  outline: none;
  cursor: pointer;
  padding: 0.4em 0 0.5em;
  border-radius: 50%;

  text-transform: capitalize;
  text-align: center;

  --floating-button--vintage-text: rgb(38, 192, 128);

  background-color: rgb(0, 0, 0);
  border: 2px solid var(--floating-button--vintage-text);
  color: var(--floating-button--vintage-text);
}

