button.floating,
button.floating-vintage {
  position: fixed;
  bottom: 30px;
  right: 30px;

  outline: none;
  cursor: pointer;
  padding: 0.4em 0 0.5em;
  border-radius: 50%;

  font-size: 12px;
  text-transform: uppercase;
  text-align: center;
}

button.floating-vintage {
  --floating-button--vintage-text: rgb(38, 192, 128);

  background-color: rgb(0, 0, 0);
  border: 2px solid var(--floating-button--vintage-text);
  color: var(--floating-button--vintage-text);
}

button.floating {
  --scaling-point: 10px;
  --button-color: red;
  
  color: white;
  text-shadow: 0 0.08em 0 rgba(255, 255, 255, 0.5);

  border: 2px solid var(--button-color);
  background-color: var(--button-color);
  background-image: linear-gradient(var(--button-color));
  box-shadow:
    0 var(--scaling-point) calc(var(--scaling-point) * 5) rgba(0, 0, 0, 0.1),
    0 var(--scaling-point) calc(var(--scaling-point) * 2) rgba(0, 0, 0, 0.3),
    0 calc(-1 * var(--scaling-point)) calc(var(--scaling-point) * .7) rgba(0, 0, 0, 0.3) inset,
    0 var(--scaling-point) calc(var(--scaling-point) * .7) rgba(255, 255, 255, 0.2) inset;
  transition: all 100ms;
}


button.floating:active {
  padding: 0.4em 0 0.4em;
  margin-top: var(--scaling-point);
  border-color: var(--button-color);
  background-image: linear-gradient(var(--button-Color));
  box-shadow:
    0 var(--scaling-point) calc(var(--scaling-point) * 2) rgba(0, 0, 0, 0.1) inset,
    0 var(--scaling-point) var(--scaling-point) rgba(0, 0, 0, 0.2) inset,
    calc(var(--scaling-point) * .5) 0 calc(var(--scaling-point) * .7) rgba(0, 0, 0, 0.2) inset,
    calc(var(--scaling-point) * -0.5) 0 calc(var(--scaling-point) * .7) rgba(0, 0, 0, 0.2) inset;
  transition-duration: 10ms;
}