@import "./theme/style.css";

* {
  font-family: var(--font-family);
  font-weight: 900;
}

*:not(svg):not(path) {
  color: var(--color-primary);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color-bg-primary);
}

body {
  height: 100vh;
}

a { text-decoration: none; }

a:hover { text-decoration: underline; }

hr {
  border: 0;
  width: 95%;
  border-top: 1px dashed var(--color-primary);
}

/* scrollbar */
::-webkit-scrollbar { width: .3rem; }

/* scrollbar container */
::-webkit-scrollbar-track { display: none; }

/* scroller */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
	background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover { background: var(--color-secondary); }


.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .6;
}

