@import "./theme/style.css";

* {
  font-family: var(--font-family);
}

*:not(svg):not(path) {
  color: var(--color-primary);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color-bg-primary);
}

body {
  height: 100vh;
}

a {
  transition: none;
}

a:hover {
  text-decoration: underline;
  color: rgb(18, 18, 197);
}

hr {
  border: 0;
  width: 95%;
  border-top: 1px dashed var(--color-primary);
}

/* scrollbar */
::-webkit-scrollbar { width: .3rem; }

/* scrollbar container */
::-webkit-scrollbar-track { display: none; }

/* scroller */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
	background: var(--color-primary);
}

::-webkit-scrollbar-thumb:hover { background: var(--color-secondary); }


.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .6;
}

.blinking {
  font-weight: 700;
  color: white;

  animation: blinking 1s ease infinite
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


@keyframes vintage-display {
	0% { transform: rotatey(90deg) scaleY(.01); }
	50% { transform: rotatey(0deg) scaleY(.01); }
	100% { transform: rotatey(0deg) scaleY(1); }
}


/* Tooltip */
.tooltip-parent {
	position: relative;
}

.tooltip-parent .tooltip-text {
  visibility: hidden;
  z-index: 99999;
	background-color: var(--color-bg-primary);
  color: #eee;
  font-weight: 400;
	text-align: center;
	font-size: .8rem;
	border-radius: 6px;
	border: 1px solid #eee;
	
	position: absolute;
	bottom: 125%;
	left: 50%;
	
	opacity: 0;
	transition: opacity 0.3s;
	
	box-shadow: 0 0 4px var(--g1);
  padding: .4rem;
}

/* Tooltip arrow */
.tooltip-parent .tooltip-text::after {
  content: '';
	position: absolute;
	top: 100%;
  left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: var(--color-primary) transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-parent:hover .tooltip-text {
	visibility: visible;
	opacity: 1;
}
