@import "./theme/index.css";

* {
  font-family: monospace;
  color: var(--color-primary);
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color-bg);
}

body {
  height: 100vh;
}


.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}